@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <br />
        <br />
        <br />
        <br />

        <br />
      Welcome to Administration Section
    </div>
</div>